<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="io.appium.unlock"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="5"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="Unlock"
          android:label="@string/app_name"
          android:exported="true"
          android:launchMode="singleInstance"
          android:finishOnTaskLaunch="true"
          android:stateNotNeeded="true"
          android:noHistory="false"
          android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
